tensorflow>=2.12.0 # Note that for just inference, you can use TF 2.* too.
ufal.chu_liu_edmonds
ufal.udpipe>=1.3,<2
markupsafe==2.0.1
# For the Czech PDT-C models, you also need the `ufal.morphodita>=1.11.2` package.
